@media screen and (max-width: 768px) {
  .heading{
    @include justify-content(center);
    padding-bottom: 1em;
    padding-top: 2em;
    & ul {
      width: 200px;
    }
  }
  .postMain {
    position: static;
    padding: 1em;
    & .articleMeta {
      padding: 0 .5em;
      width: auto;
      margin: .5em;
      position: static;
      right:auto;
      top: auto;
    }
    & img {
      @include calc(max-width, "100% - 1em");
    }
  }
}
@media all and (max-resolution: 200dpi){
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
}
