{{!< default}}
{{#post}}
<div class="blogTitle masiBg">
  <h1 class="page-title">{{title}}</h1>
  <h3 class="page-description">{{meta_description}}</h3>
</div>
<main class="postMain">
  <article id="articleContent">
    {{content}}
  </article>
</main>
{{/post}}
