/************************************************************
GENERAL
************************************************************/
body {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.65rem; }

h3 {
  font-size: 1.29rem; }

h4 {
  font-size: 1.1rem; }

h5 {
  font-size: .91rem; }

h6 {
  font-size: .74rem; }

code {
  font-family: 'Inconsolata', monospace; }

.masiBg {
  background: #000 url("/assets/img/64px-diamond-bg.svg");
  background-size: 12px;
  position: relative; }
  .masiBg:after {
    background: linear-gradient(to right, #fff 0, #b9ee05 25%, #05b9ee 50%, #ee05b9 75%, #000 100%);
    width: 100%;
    height: 5px;
    bottom: 0;
    position: absolute;
    left: 0;
    content: ' '; }

ul {
  list-style: none;
  padding: 0;
  margin: auto; }

a {
  text-decoration: none;
  color: #ee05b9; }

h3 a {
  color: #fff; }

h2 a {
  color: #05b9ee; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/************************************************************
HEADING
************************************************************/
.heading {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4em;
  background-color: #ababab; }
  .heading.masiBlog figure svg .masiG1 {
    fill: #05b9ee; }
  .heading.masiBlog figure svg .masiG2 {
    fill: #ee05b9; }
  .heading.masiBlog figure svg:hover .masiG1 {
    fill: #ee05b9; }
  .heading.masiBlog figure svg:hover .masiG2 {
    fill: #b9ee05; }
  .heading.masiAbout figure svg .masiG1 {
    fill: #ee05b9; }
  .heading.masiAbout figure svg .masiG2 {
    fill: #555; }
  .heading.masiAbout figure svg:hover .masiG1 {
    fill: #555; }
  .heading.masiAbout figure svg:hover .masiG2 {
    fill: #b9ee05; }
  .heading figure {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 5em;
    -moz-flex: 0 0 5em;
    -ms-flex: 0 0 5em;
    flex: 0 0 5em; }
    .heading figure svg {
      width: 100%;
      opacity: 0;
      -webkit-animation: fadeIn 1s ease 0.25s;
      -moz-animation: fadeIn 1s ease 0.25s;
      animation: fadeIn 1s ease 0.25s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .heading figure svg .masiG1 {
        fill: #b9ee05; }
      .heading figure svg .masiG2 {
        fill: #05b9ee; }
      .heading figure svg:hover .masiG1 {
        fill: #555; }
      .heading figure svg:hover .masiG2 {
        fill: #ee05b9; }
      .heading figure svg .masiPoly {
        transition: fill .5s ease; }
  .heading nav {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 150px;
    -moz-flex: 1 0 150px;
    -ms-flex: 1 0 150px;
    flex: 1 0 150px; }
  .heading ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    width: 400px;
    margin-top: 1em; }
  .heading:after {
    background: linear-gradient(to right, #fff 0, #b9ee05 25%, #05b9ee 50%, #ee05b9 75%, #000 100%);
    width: 100%;
    height: 5px;
    top: 0;
    position: absolute;
    left: 0;
    content: ' '; }
  .heading li {
    position: relative; }
  .heading .masiNavCurrent:after {
    content: '';
    width: 100%;
    height: .25em;
    position: absolute;
    left: 0;
    bottom: .5em; }
  .heading li:nth-of-type(1).masiNavCurrent:after {
    background: #b9ee05; }
  .heading li:nth-of-type(2).masiNavCurrent:after {
    background: #05b9ee; }
  .heading li:nth-of-type(3).masiNavCurrent:after {
    background: #ee05b9; }

/************************************************************
MAIN
************************************************************/
.blogTitle {
  padding: 3em; }
  .blogTitle h1 {
    color: #fff; }
  .blogTitle h3 {
    color: #b9ee05;
    max-width: 340px; }

.siteFooter {
  padding: 3em; }
  .siteFooter p {
    color: #ee05b9; }

.blogIndex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .blogIndex article {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 280px;
    -moz-flex: 1 0 280px;
    -ms-flex: 1 0 280px;
    flex: 1 0 280px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1em;
    max-width: 400px; }
    .blogIndex article .masiDate {
      text-transform: uppercase;
      text-align: right;
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 1 20%;
      -moz-flex: 0 1 20%;
      -ms-flex: 0 1 20%;
      flex: 0 1 20%;
      margin-right: 1.5em;
      margin-top: .325em; }
    .blogIndex article .masiPostHeader {
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 1 80%;
      -moz-flex: 0 1 80%;
      -ms-flex: 0 1 80%;
      flex: 0 1 80%; }

.postMain {
  position: relative;
  padding: 7em 4em; }
  .postMain .articleMeta {
    background: #333;
    border-radius: 5px;
    padding: .5em 1.5em;
    width: 300px;
    position: absolute;
    right: 2em;
    top: -200px;
    color: #ee05b9;
    text-transform: uppercase; }
    .postMain .articleMeta h5 {
      color: #ee05b9;
      line-height: .5; }
    .postMain .articleMeta a {
      color: #ee05b9; }
    .postMain .articleMeta h3 {
      line-height: .5; }
      .postMain .articleMeta h3 time {
        color: #05b9ee; }
    .postMain .articleMeta .metaHeading {
      color: #fff; }
  .postMain img {
    max-width: -webkit-calc(50% - .5em);
    max-width: calc(50% - .5em); }

@media screen and (max-width: 768px) {
  .heading {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding-bottom: 1em;
    padding-top: 2em; }
    .heading ul {
      width: 200px; }

  .postMain {
    position: static;
    padding: 1em; }
    .postMain .articleMeta {
      padding: 0 .5em;
      width: auto;
      margin: .5em;
      position: static;
      right: auto;
      top: auto; }
    .postMain img {
      max-width: -webkit-calc(100% - 1em);
      max-width: calc(100% - 1em); } }

/*# sourceMappingURL=main.css.map */
